/* ======== Add CSS Here ================ */

body {
    background: #100000;
}
.container {
    background: #fff;
    width: 60%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.container header p {
   align-items: center;
   justify-content: center;
   text-align: center;
}
.container header img {
    display: block;
    margin: auto;
}
.form-section {
    width: 80%;
    margin: auto;


}
form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* margin: auto; */
    /* vertical-align: middle; */
    padding-left: 40px;
    width: 100%;
    font-weight: bold;
    /* align-items: center; */
    /* border: 2px solid tomato; */

}
input,textarea {
    width: 90%;
    padding: 5px;
    background-color:#D3D3D3;
    
}
#submit {
    font-size: 20px;
    width: 90%;
    /* align-self: center; */
    padding-left: 20px;
}